{{template config_path="design/email/header_template"}}

{{trans '<p class="greeting">Hello <b>%administrator_name</b></p>' administrator_name=$administrator_name|row}}

{{trans "<p>The comment received and is under approve process</p> " |row}}

{{trans "<h5>%comment</h5>" comment=$comment.name |row}}

{{trans "<p>You don't need to do anything, this email is only a confirmation.</p>"|row}}

{{trans "<p>Thank you for your comment to %store_name.</p>" store_name=$store.getFrontendName()|row}}

{{template config_path="design/email/footer_template"}}